<head>
  <title>Web Search</title>
  <link title="DuckDuckGo (Lite)" type="application/opensearchdescription+xml" rel="search" href="//duckduckgo.com/opensearch_lite_v2.xml">
</head>

<body>
<center>
  <br>
  <span class="header">Motherfucking Websearch</span>
  <br><br><br><br>

  <form action="https://lite.duckduckgo.com/lite/" method="post">
    <input class='query' type="text" size="40" name="q" autocomplete="off" value="" autofocus />
    <input class='submit' type="submit" value="Search" />
  </form>
</center>

</body>
